/* Base16 Atelier Forest Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/forest) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Forest Comment */
.satzbau-comment,
.satzbau-quote {
  color: #9c9491;
}

/* Atelier-Forest Red */
.satzbau-variable,
.satzbau-template-variable,
.satzbau-attribute,
.satzbau-tag,
.satzbau-name,
.satzbau-regexp,
.satzbau-link,
.satzbau-name,
.satzbau-selector-id,
.satzbau-selector-class {
  color: #f22c40;
}

/* Atelier-Forest Orange */
.satzbau-number,
.satzbau-meta,
.satzbau-built_in,
.satzbau-builtin-name,
.satzbau-literal,
.satzbau-type,
.satzbau-params {
  color: #df5320;
}

/* Atelier-Forest Green */
.satzbau-string,
.satzbau-symbol,
.satzbau-bullet {
  color: #7b9726;
}

/* Atelier-Forest Blue */
.satzbau-title,
.satzbau-section {
  color: #407ee7;
}

/* Atelier-Forest Purple */
.satzbau-keyword,
.satzbau-selector-tag {
  color: #6666ea;
}

.satzbau {
  display: block;
  overflow-x: auto;
  background: #1b1918;
  color: #a8a19f;
  padding: 0.5em;
}

.satzbau-emphasis {
  font-style: italic;
}

.satzbau-strong {
  font-weight: bold;
}
