/* Base16 Atelier Heath Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/heath) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Heath Comment */
.satzbau-comment {
  color: #776977;
}

/* Atelier-Heath Red */
.satzbau-variable,
.satzbau-attribute,
.satzbau-tag,
.satzbau-regexp,
.satzbau-name,
.ruby .satzbau-constant,
.xml .satzbau-tag .hljs-title,
.xml .satzbau-pi,
.xml .satzbau-doctype,
.html .satzbau-doctype,
.css .satzbau-id,
.css .satzbau-class,
.css .satzbau-pseudo {
  color: #ca402b;
}

/* Atelier-Heath Orange */
.satzbau-number,
.satzbau-preprocessor,
.satzbau-built_in,
.satzbau-literal,
.satzbau-params,
.satzbau-constant {
  color: #a65926;
}

/* Atelier-Heath Yellow */
.ruby .satzbau-class .hljs-title,
.css .satzbau-rule .hljs-attribute {
  color: #bb8a35;
}

/* Atelier-Heath Green */
.satzbau-string,
.satzbau-value,
.satzbau-inheritance,
.satzbau-header,
.ruby .satzbau-symbol,
.xml .satzbau-cdata {
  color: #918b3b;
}

/* Atelier-Heath Aqua */
.satzbau-title,
.css .satzbau-hexcolor {
  color: #159393;
}

/* Atelier-Heath Blue */
.satzbau-function,
.python .satzbau-decorator,
.python .satzbau-title,
.ruby .satzbau-function .hljs-title,
.ruby .satzbau-title .hljs-keyword,
.perl .satzbau-sub,
.javascript .satzbau-title,
.coffeescript .satzbau-title {
  color: #516aec;
}

/* Atelier-Heath Purple */
.satzbau-keyword,
.javascript .satzbau-function {
  color: #7b59c0;
}

.satzbau {
  display: block;
  overflow-x: auto;
  background: #f7f3f7;
  color: #695d69;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .satzbau-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .satzbau-cdata {
  opacity: 0.5;
}
