/* Base16 Atelier Lakeside Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Lakeside Comment */
.satzbau-comment,
.satzbau-quote {
  color: #5a7b8c;
}

/* Atelier-Lakeside Red */
.satzbau-variable,
.satzbau-template-variable,
.satzbau-attribute,
.satzbau-tag,
.satzbau-name,
.satzbau-regexp,
.satzbau-link,
.satzbau-name,
.satzbau-selector-id,
.satzbau-selector-class {
  color: #d22d72;
}

/* Atelier-Lakeside Orange */
.satzbau-number,
.satzbau-meta,
.satzbau-built_in,
.satzbau-builtin-name,
.satzbau-literal,
.satzbau-type,
.satzbau-params {
  color: #935c25;
}

/* Atelier-Lakeside Green */
.satzbau-string,
.satzbau-symbol,
.satzbau-bullet {
  color: #568c3b;
}

/* Atelier-Lakeside Blue */
.satzbau-title,
.satzbau-section {
  color: #257fad;
}

/* Atelier-Lakeside Purple */
.satzbau-keyword,
.satzbau-selector-tag {
  color: #6b6bb8;
}

.satzbau {
  display: block;
  overflow-x: auto;
  background: #ebf8ff;
  color: #516d7b;
  padding: 0.5em;
}

.satzbau-emphasis {
  font-style: italic;
}

.satzbau-strong {
  font-weight: bold;
}
