/*

grayscale style (c) MY Sun <simonmysun@gmail.com>

*/

.satzbau {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #fff;
}

.satzbau-comment,
.satzbau-quote {
  color: #777;
  font-style: italic;
}

.satzbau-keyword,
.satzbau-selector-tag,
.satzbau-subst {
  color: #333;
  font-weight: bold;
}

.satzbau-number,
.satzbau-literal {
  color: #777;
}

.satzbau-string,
.satzbau-doctag,
.satzbau-formula {
  color: #333;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2O8e/fufwYGBgZBQUEQxcCIIfDu3Tuwivfv30NUoAsAALHpFMMLqZlPAAAAAElFTkSuQmCC) repeat;
}

.satzbau-title,
.satzbau-section,
.satzbau-selector-id {
  color: #000;
  font-weight: bold;
}

.satzbau-subst {
  font-weight: normal;
}

.satzbau-class .hljs-title,
.satzbau-type,
.satzbau-name {
  color: #333;
  font-weight: bold;
}

.satzbau-tag {
  color: #333;
}

.satzbau-regexp {
    color: #333;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAN37979r6yszIgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQDexSef15DBCwAAAABJRU5ErkJggg==) repeat;
}

.satzbau-symbol,
.satzbau-bullet,
.satzbau-link {
  color: #000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAO7d+/+z4gsBhJwdXVlhAvCBECKwIIwAbhKZBUwBQA6hBpm5efZsgAAAABJRU5ErkJggg==) repeat;
}

.satzbau-built_in,
.satzbau-builtin-name {
  color: #000;
  text-decoration: underline;
}

.satzbau-meta {
  color: #999;
  font-weight: bold;
}

.satzbau-deletion {
  color: #fff;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAE0lEQVQIW2MMDQ39zzhz5kwIAQAyxweWgUHd1AAAAABJRU5ErkJggg==) repeat;
}

.satzbau-addition {
  color: #000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAALUlEQVQYV2N89+7dfwYk8P79ewZBQUFkIQZGOiu6e/cuiptQHAPl0NtNxAQBAM97Oejj3Dg7AAAAAElFTkSuQmCC) repeat;
}

.satzbau-emphasis {
  font-style: italic;
}

.satzbau-strong {
  font-weight: bold;
}
